@page
@using BookStorageWeb.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container col-12 px-4 py-5">
    <div class="row align-items-center py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                BookStorageWeb - Nasza internetowa księgarnia!

            </h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non lobortis sapien. Nullam scelerisque faucibus enim, non condimentum massa egestas in. Maecenas facilisis, nunc vel vestibulum sollicitudin, risus nunc auctor mauris, vitae euismod justo ante et magna. Praesent eget nunc lacinia, dapibus metus nec, convallis sapien. Vivamus ultricies pulvinar risus nec tristique. Curabitur facilisis in libero at efficitur. Proin pretium finibus ipsum.

                Sed maximus vel ex at consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam dui purus, ullamcorper eu convallis eget, laoreet a leo. Morbi porttitor pulvinar ligula, in efficitur urna placerat eget. Aenean quis posuere erat. Nunc quis enim vestibulum, laoreet est a, porta tellus. Aenean venenatis arcu tellus, sit amet volutpat nisi rhoncus interdum. Morbi sit amet iaculis tellus. Fusce consequat eu lectus vitae ullamcorper.
            </p>
        </div>
        <div class="col-12 col-lg-6" >
            <img src="https://img.freepik.com/free-photo/man-stands-front-stacks-books-library_188544-32988.jpg?t=st=1705936754~exp=1705940354~hmac=38f4e9b0595255a5ad9dd82dbd4777e18a780a2ea8ea1826b5c035dd677eb49a&w=1380"
                 class="d-block mx-lg-auto img-fluid" width="600" height="300" style="margin-top: 70px" />
        </div>
    </div>
</div>

<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="border-top">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem"></i>BookStorageWeb
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non lobortis sapien. Nullam scelerisque faucibus enim, non condimentum massa egestas in.
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Przydatne Linki
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pomoc</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
                    <p><i class="fas fa-home"></i> Złota 999/38, Warszawa, Polska</p>
                    <p>
                        <i class="fas fa-envelope"></i>
                        test@gmail.com
                    </p>
                    <p><i class="fas fa-phone"></i> +48 111 111 111</p>
                    <p><i class="fas fa-print"></i> +48 222 222 222</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <span class="fw-bold">BookStorageWeb - Jarosław Grzęda</span>
    </div>
</footer>
